.MiddlePanel {
    margin-left: 16%;
    margin-right: 6%;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;

    scrollbar-width: none;




}

.hero {
    height: clamp(250px, 50vh, 450px);
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.herolinebox {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.heroline1 {
    height: 40%;
    width: 100%;

    display: flex;

    align-items: flex-end;

}

.heroline1 h1 {
    font-size: clamp(18px, 4vw, 55px);
    color: var(--text-color);
}

.heroline1 span {
    color:var(--accent-color);
}

.heroline2 {
    height: 28%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heroline2 p {
    font-size: clamp(10px, 2vw, 18px);
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);

}

.heroline3 {
    height: 20%;
    width: 100%;


}

.heroline3 .button {
    height: clamp(30px, 6vh, 50px);
    width: clamp(80px, 12vw, 150px);
    background-color: #ffb400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: clamp(10px, 2vw, 18px);
    color: var(--text-color);
}

.hero-img {
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: end;
}

.hero-img img {
    height: clamp(18px, 30vw, 350px);
}